.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  /*justify-content: center;*/  
  grid-template-columns: 1fr 430px 1fr;
  grid-template-rows: 1fr min-content 1fr;
  gap: 8px;
}

.popup::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .5;
}

@media screen and (max-width: 619px) {
  .popup {
    grid-template-columns: 1fr calc(282px + 148 * (100vw - 320px) / 300) 1fr;
  }
}